.containersn {
    margin: 0 auto;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //min-height: 100vh;
    //text-align: center;

    h1 {
        text-align: center;
        color: red;
        padding: 20px;
        margin: 0;
    }
    .noData {
        font-size: 24px;
        font-weight: bold;
    }
}

.checksn {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checksn img {
    width: 50%;
    height: 50%;
    margin-right: 10px;
}

.checksn-details {
    display: flex;
    flex-direction: column;
}

.checksn-details span {
    margin-bottom: 5px;
    text-align: left;
}

.checksn-details span:last-child {
    margin-bottom: 0;
}

.checksn-details span::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 5px;
}

.checksn-details {
    width: 40%;
    margin: auto;
    table {
        border-collapse: collapse;
        width: 100%;
    }

    .heading-info {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    /* Styles specific to mobile devices */
    .checksn {
        width: 100% !important;
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        flex-direction: column;
        .checksn-details {
            width: 100% !important;
        }
    }
    img {
        padding-bottom: 10px;
    }
}
