@font-face {
    font-family: 'ArchivoLight';
    src: url('./../../public/fonts/Archivo-Light.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Archivo';
    src: url('./../../public/fonts/Archivo.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'ArchivoBold';
    src: url('./../../public/fonts/Archivo-Bold.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'ArchivoExtraBold';
    src: url('./../../public/fonts/Archivo-ExtraBold.ttf');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'InterLight';
    src: url('./../../public/fonts/Inter-Light.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Inter';
    src: url('./../../public/fonts/Inter.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'InterBold';
    src: url('./../../public/fonts/Inter-Bold.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'PF-BeauSans-Pro';
    src: url('./../../public/fonts/FS-PFBeauSansPro-Bbook.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Sarabun-bold';
    src: url('./../../public/fonts/Sarabun-Bold.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: 'Sarabun-light';
    src: url('./../../public/fonts/Sarabun-Light.ttf');
    font-display: swap;
  }