.capacity-page {
  .image {
    padding-bottom: 10px;
  }
  .section-pad {
    padding: rem(80) rem(120);
  }
  .section-banners {
    position: relative;
    .image-banner {
      width: 100%;
      height: rem(650);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content-banner {
      .heading {
        font-size: rem(20);
        text-transform: uppercase;
      }
      p {
        margin: 0;
        text-align: center;
      }
    }
    &.qlcl {
      .image-banner {
        height: rem(500);
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
          );
        }
      }
    }
  }
  .section-intro {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    .title-common {
      width: 100%;
    }
    .section-intro-body {
      display: flex;
      &.system {
        .left {
          flex: 1;
        }
      }
    }
    .left {
      height: rem(350);
      margin-right: rem(100);
      display: flex;
      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .right {
      flex: 1;
    }

    .description {
      line-height: 150%;
      margin-top: 0;
    }
    &.reverse {
      .title-common {
        text-align: right;
        &.underline::before {
          left: auto;
          right: 0;
        }
      }
      .section-intro-body {
        flex-direction: row-reverse;
      }
      .left {
        margin-left: rem(100);
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .capacity-page {
    .section-banners {
      .content-banner {
        max-width: 95%;
        width: 95%;
      }
    }
    .section-intro {
      .left {
        margin-right: rem(20);
      }
      &.reverse {
        .left {
          margin-left: rem(20);
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .capacity-page {
    .section-intro {
      .left {
        display: none;
      }
      &.reverse {
        .title-common {
          text-align: left;
          &.underline::before {
            left: 0;
            right: auto;
          }
        }
      }
      &#systemManagement {
        .section-intro-body {
          flex-direction: column;
        }
        .left {
          display: block;
        }
      }
    }
  }
}
